.user-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#form-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.user {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.user-item {
    margin-bottom: 10px;
}

.user-name {
    font-size: 16px;
    margin-bottom: 5px;
}